@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}

header{
    height:900px;
    background-image: url(./assets/imagenes/drive-download-20240927T191843Z-001/img2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding:40px 20px 20px 0px;
}

ul{
    list-style-type: none;
    display: inline-flex;
    gap: 30px;
    font-family:"raleway", sans-serif;
    color: white;
    font-weight: 400;
    font-size: larger;
    text-shadow: 
    1px 1px  white,
    2px 3px  gray;
}

a{
    color:white 
 }
 .menu{
     text-decoration: none;
 }
 
 .menu:hover{
     text-shadow: none;
 }


.mainTitle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 250px;
    font-family:"raleway",sans-serif;
    color: white;
    font-weight: 400;
    font-size:60px;
    text-shadow: 4px 4px 0px #080808;
}

main{
    margin:100px 20px 20px 20px;

}
.tituloSecundario{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "raleway",sans-serif;
    font-size: 40px;
    font-weight: 450;
    text-shadow: 
    1px 1px  white,
    2px 3px  gray;
    color: #2F3645;
    margin-bottom: 40px;
}
.seccion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
}

.contenedorDrop{
border:solid #070707;
background-color: #808080;
height: 400px;
width: 850px;
margin: 40px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
font-family: "raleway",sans-serif;
color: white;
}

.rompecabezas{
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid #070707;
    height: 400px;
}
.divImagenes{
    border:solid #070707;
   
    width: 900px;
    height: 504px;
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.imagenes{
    width: fit-content;
}

.boton{
    width: 250px;
height: 50px;
background-color: #2F3645;
color: white;
border: none;
font-family:"raleway", sans-serif;
font-weight: lighter;
font-size: 15px;
}

footer{
    position: relative;
    top: 200px;
    background-color: #2F3645;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "start mid mid2 end";
    gap:30px;
}

.imgfooter{
 width: 150px;
grid-area:start;
display: flex;
justify-content: flex-end;
align-items: center;
}

.titulo1{
  grid-area: mid;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family:"raleway", sans-serif;
  font-weight: 600;
  color: white;
  font-style:normal;
}

.titulo2{
  grid-area: end;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family:"raleway", sans-serif;
  font-weight: 60;
  color: white;
  font-style:normal;
}

